.field {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  cursor: copy;
}
.ceil{
  border: 1px solid grey;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}